{% extends "base.html" %}
{% block cssfiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/profile.css') }}">
{% endblock %}
{% block content %}
<div class="userprofile">
<h1 class="userhead">Profile</h1>
    <img src="{{ user.avatar(128) }}" class="userimg">
    <div class="userlabel">
        <p>Username</p>
    </div>
    <div class="userdata">
        {{ user.username }}
    </div>
    <div class="userlabel">
        <p>Email</p>
    </div>
    <div class="userdata">
        {{ user.email }}
    </div>
</div>
{% endblock %}