{% extends "base.html" %}

{% block cssfiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/profile.css') }}">
{% endblock %}
{% block content %}
<div class="userprofile">
<h1 class="userhead">Profile</h1>
    <img src="{{ user.avatar(128) }}" class="userimg">
    <div class="userlabel">
        <p>Username</p>
    </div>
    <div class="userdata">
        {{ user.username }}
    </div>
    <div class="userlabel">
        <p>Rank</p>
    </div>
    <div class="userdata">
        <p>{{rank}}</p>
    </div>
    <div class="userlabel">
        <p>Point</p>
    </div>
    <div class="userdata">
        {{ user.points }}
    </div>
    <div class="userlabel">
        <p>Preferred Language</p>
    </div>
    <div class="userdata">
        {{ "C++" if user.prefLanguage == "cpp" else "Python" }}
    </div>
    <div class="userlabel">
        <p>Problems Attempted</p>
    </div>
    <div class="userdata">
        <table id="problemtable">
            <tr>
                <th>Problem</th>
                <th>Status</th>
            </tr>
        {% for p in problems%}
            <tr>
                <td> <a href="{{ url_for('problems.problem', title=''.join(p.title.split()).lower())}}">{{p.title}}</a> </td>
                {% if status[p.id] %}
                <td style="color: green;">Solved</td>
                {% else %}
                <td style="color: crimson;">Not Solved</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <div style="padding: 1cm;"></div>
</div>
{% endblock %}