{% extends "base.html" %}
{% block cssfiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/register.css') }}">
<style>
    .prohead {
        text-align: center;
        margin-top: 100px;
        margin-bottom: -50px;
    }

    .prolabel {
        margin-top: 10px;
        font-weight: bold;
        font-family: 'Lucida Sans';
    }

    /* define the button */
    .probutton input{
        display: block;
        width: 100%;
        color: #61677C;
        font-weight: bold;
        box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    /* style the button when mouse hovering */
    .probutton input:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    }

    /* style the button when click */
    .probutton input:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
</style>
{% endblock %}
{% block content %}
    <h1 class="prohead">Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="label">
            <div class="prolabel">
            {{ form.password.label }}<br>
            </div>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="label">
            <div class="prolabel">
            {{ form.password2.label }}<br>
            </div>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p class="probutton">{{ form.submit() }}</p>
    </form>
{% endblock %}