{% extends "base.html" %}
{% block cssfiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='auth/login-register.css') }}">
{% endblock %}
{% block content %}
    <h1 class="proheadreset">Reset Your Password</h1>
    <div class="register-form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="label">
                <div class="prolabel">
                {{ form.password.label }}<br>
                </div>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="label">
                <div class="prolabel">
                {{ form.password2.label }}<br>
                </div>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p class="probutton">{{ form.submit(class="button") }}</p>
        </form>
    </div>
{% endblock %}