/* This file is used to style the login page */
body {
    background-color: lightgrey;
}

/* define the header of the body */
.header {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px #FF0000;
}

/*initial the style  */
.login-form,
.login-form h1,
.login-form span,
.login-form input,
.login-form label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*define the style of the form  */
.login-form {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 60px 200px 10px 170px;
    margin-left: 460px;
    margin-top: 150px;
    cursor: default;
    background-color:lightcoral;
    /* define some little curves around the window*/
    border-radius: 5px; 
    /* define the shadow around the box, making out and in shadow*/
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px 0px rgb(0,0,0); 
}


/* style the heading of the form */
.login-form h1 {
    line-height: 30px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #e4e4e4;
    text-align: center;
}

/* style the input*/
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {

    line-height: 20px;
    margin: 10px 0;
    padding: 8px 25px;
    border: 0;
    outline: none;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);

    border-radius: 26px;
    /* set different transition be smooth and slow start and end */
    transition: all .15s ease-in-out;
}

/* style the input of username and password */
.login-form input[type=text],
.login-form input[type=password]{
    color: #686868;
    width: 170px;

    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
    background: #989898;
    background: linear-gradient(top, #ffffff 0%,#989898 100%);
}

/* style when hovering of the user and password input */
.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px rgba(255, 255, 255, .5);
}

/* style when entering the username and password*/
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    background: #e1e1e1;
    /* style the tag from top to bottom */
    background: linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
}

/*define the style of submit button*/
.login-form input[type=submit] {
    float: right;
    cursor: pointer;
    color: #445b0f;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}


/* change the style of the submit button when hover on it, adding shadow to indicate the status */
.login-form input[type=submit]:hover {
    box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}

/* style the submit button */
.login-form input[type=submit]{
    background: #a5cd4e;
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
}

/* style the label of the check box */
.login-form label {
    position: absolute;
    top: 0px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #e4e4e4;
}