/* This file is used to style the login page */
body {
    background-color: white;
}

/* define the input and button */
.login-form .label {
    display: block;
    margin-bottom: 1px;
    width: 100%;
  }

/*initial the style  */
.login-form,
.login-form h1,
.login-form input {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
}

/*define the style of the form  */
.login-form {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 60px 170px 40px 170px;
    margin-top: 150px;
    cursor: default;
    /* background-color:lightcoral; */
    background-color: #EBECF0;
    /* define some little curves around the window*/
    border-radius: 5px;
}


/* style the heading of the form */
.login-form h1 {
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 35px;
    font-weight: normal;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
    text-align: center;
}

/* style the input*/
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit],
.login-form a {

    line-height: 20px;
    margin: 10px 0;
    padding: 8px 25px;
    border: 0;
    outline: none;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;

    border-radius: 26px;
    /* set different transition be smooth and slow start and end */
    transition: all .15s ease-in-out;
}

/* style the link */
.login-form a {
    text-decoration: none;
}

/* style the input of username and password */
.login-form input[type=text],
.login-form input[type=password]{
    color: #686868;
    width: 200px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

/* style when entering the username and password*/
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/*define the style of submit button*/
.login-form input[type=submit],
.login-form a {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: #AE1100;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

/* change the style of the submit button when hover on it, adding shadow to indicate the status */
.login-form input[type=submit]:hover,
.login-form a:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

/* button when active */
.login-form input[type=submit]:active,
.login-form a:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }


/* define the background color of the page
body, html { 
    background-color: white;
  } */

.register-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
/* define the letter style*/
.register-form input, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
/* define the style of the header */
.register-form .header {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }
  
/* define the main information part */
.register-form form {
    position: relative;
    padding: 16px;
    width: 320px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #EBECF0;
  }
  
/* define as one segment */
.register-form .segment {
    padding: 32px 0;
    text-align: center;
  } 
  
/* define the button and input part */
.register-form .button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }
  
/* separate the input and button part */
.register-form .label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }
  
/* style the input */
.register-form input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }
  
/* style the input when click */
.register-form input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
/* define the button */
.register-form .button {
    display: block;
    width: 100%;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
/* style the button when mouse hovering */
.register-form .button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  
/* style the button when click */
.register-form .button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }