.proheadfile {
    text-align: center;
    margin-bottom: -80px;
}

.proheadreset {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -50px;
}

.proimg {
    margin-left: 90px;
}

.prolabel {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

.prelan {
    resize: none;
    height: 100px;
    font-family: Georgia;
    font-size: 16px;
    color: #666060;
    border-radius: 1px;
    overflow: auto;
}

.probutton a {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    text-align: center;
    margin-left: -16px;
}

/* define the button */
.probutton input,
.probutton a {
    display: block;
    width: 100%;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

/* style the button when mouse hovering */
.probutton input:hover,
.probutton a:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

/* style the button when click */
.probutton input:active,
.probutton a:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.userprofile {
    text-align: center;
    font-family: 'Courier New';
}

.userprofile .userhead {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userprofile .userimg {
    height: 150px;
    width: 150px;
}

.userprofile .userlabel {
    font-size: 25px;
    font-weight: bold;
}

.userprofile .userdata {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    color: #4865e4;
}

/* elimate all the margin of the element */
.ranking-box {
    display: flex;
    height: 900px;
}

.ranking-box * {
    box-sizing: border-box;
}

/* initialize the body */
.ranking-box body {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
}

/* the content part style */
.ranking-box .content {
    flex: 8;
    height:100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

/* the content part style */
.ranking-box .content th{
    cursor: pointer;
}

/* the data table */
.ranking-box .content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

/* style the header and data of the table */
.ranking-box .content th,
.ranking-box .content td {
    padding: 15px;
    border-bottom: 1px solid #343837;
}

.ranking-box .rank h1{
    margin-bottom: 20px;
    font-family: Cambria;
    font-weight: bold;
    color: #4865e4;
}

.rank th,
.rank td,
.rank h1 {
    text-align: center;
}

.rank th {
    font-family: 'Lucida Sans';
}

.rank td {
    font-family: 'Franklin Gothic Medium';
}

.rank td a {
    color: #4865e4;
}

.rank th:hover {
    background-color: white;
    padding: 15px;
}
.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 12px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 15px;
  border-top-color: #4865e4;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: #4865e4;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}
