<!-- This is the home page for the code test -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='auth/Login1.css') }}">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
    </head>
    <body>
        <div class="header">
        <h1>Competitive Coding Test</h1>
        </div>

        <div class="login-form">
            <h1>Welcome</h1>
            <!-- Jump to the test page -->
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <form action="#" method="post">
                <!-- get the username and password-->
                <div class="label">
                <input type="text" name="username" placeholder="username">
                </div>
                <div class="label">
                <input type="password" name="password" placeholder="password">
                </div>
                <div class="label">
                <input style="margin-left: 2px;" type="submit" value="Login" >
                </div>
                <div class="label">
                    <a style="margin-right: 3px;" href="{{ url_for('auth.register') }}">Register</a>
                </div>
            </form>
        </div>
    </body>
</html>