<!-- This file is for designing the register page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/Register2.css') }}">
</head>
<body>
    <!-- creating the information input part -->
    <form method="post">
        <div class="segment header">
            <h1>Sign up</h1>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <div class="label">
            <input id="user" type="text" name="username" value="{{ username }}" placeholder="User Name">
        </div>
        <div class="label">
            <input id="email" type="text" name="email" value="{{ email }}" placeholder="Email Address">
        </div>
        <div class="label">
            <input id="p1" type="password" name="password" placeholder="Password">
        </div>
        <div class="label">
            <input id="p2" type="password" name="confirm" placeholder="Confirm Password">
        </div>
        <button id="sub" type="submit" name="submit"> Register</button>
    </form>
    <script src="{{ url_for('static', filename='auth/JS.js') }}"></script>
</body>
</html>
