body {
    overflow: hidden;
}

.container {
    width: 95%;
    margin: auto;
    padding: 10px;
}

.one {
    width: 50%;
    float: left;
    overflow-y: scroll;
    height: 80%;
}

.two {
  margin-left: 52%;
  heightL 57%;
}

pre {
    background-color: gainsboro;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#editor { 
    width: 100%;
    height: 45%;
    position: sticky;
}

#results {
    background-color: gainsboro;
    height: 10cm;
    margin-top: 0.5cm;
    overflow: hidden;
    padding-left: 0.5cm;
    -ms-overflow-style: none;
}

#result::-webkit-scrollbar {
  display: none;
}

.questionWrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-auto-rows: 10em;
    grid-gap: 3em;
}

.questionBox {
    background-color: #0f3f8d;
    color: white;
    padding: 0.4em;
    padding-left: 1em;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px #c4c4c4;
}

.questionBoxLink {
    background-color: #0f3f8d;
    border-radius: 4px;
}

.questionBoxLink:hover , .questionBoxLink:hover > .questionBox {
    background-color: white;
    color: #2d6cdf;
    border-color: #2d6cdf;
}
