<!-- this is the adding user page -->
{% extends "admin/base.html" %}

{% block admincontent %}
    <!-- main body -->
    <div class="content">
        <div class="button-group">
            <a href="{{ url_for('admin.manage', mode='user') }}" class="button1">Manage Page</a>
        </div>

        <div>
            <h2 class="pagetitle">Add Users</h2>
            <div class="addform">
                <form action="" onsubmit="return addUser()" method="POST">
                    {{ form.hidden_tag() }}
                        <div>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}<br>
                            {% for error in form.username.errors %}
                                <span class="form-error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.email.label }}<br>
                            {{ form.email(size=64) }}<br>
                            {% for error in form.email.errors %}
                                <span class="form-error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32)}}<br>
                            {% for error in form.password.errors %}
                                <span class="form-error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.password2.label }}<br>
                            {{ form.password2(size=32) }}<br>
                            {% for error in form.password2.errors %}
                                <span class="form-error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.role.label }}<br>
                            {{ form.role }}
                        </div>
                        <button type="submit" class="button2" name="adduser">Add</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfiles %}
    <!-- js -->
    <script src="{{ url_for('static', filename='admin/admin.js') }}"></script>
    {{ super() }}
{% endblock %}