<!-- This is the edit user page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit User</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin.css')}}">
        <script src="https://kit.fontawesome.com/2b4df1b305.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- header part -->
        <header>
            <p>Admin Panel</p>
            <i class="fas fa-angle-double-right menu"></i>
            <ul class="nav">
                <li><a href="#">Homepage</a></li>
                <li><a href="#">Questionpage</a></li>
                <li>
                    <a href="#">
                        <i class="far fa-id-badge"></i>
                        Jake
                        <i class="fas fa-chevron-circle-down" style="font-size: 16px;"></i>
                    </a>
                    <ul>
                        <li><a href="./Login.html" class="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </header>

        <!-- side nav bar -->
        <div class="admin-box">
            <div class="sidebar">
                <ul>
                    <li><a href="{{ url_for('admin.users')}}">Manage Users</a></li>
                    <li><a href="./question.html">Manage Questions</a></li>
                    <li><a href="./assess.html">Assess Responses</a></li>
                </ul>
            </div>

            <!-- main body -->
            <div class="content">
                <div class="button-group">
                    <a href="./user.html" class="button1">Manage Page</a>
                </div>

                <div>
                    <h2 class="pagetitle">Edit User</h2>
                    {% for message in get_flashed_messages() %}
                        <span class="flash">{{ message }}</span>
                    {% endfor %}
                    <div class="addform">
                        <form action="" onsubmit="return editUser()" method="POST">
                                {{ form.hidden_tag() }}
                                <div>
                                    {{ form.username.label }}<br>
                                    {{ form.username(size=32, value=user.username) }}<br>
                                    {% for error in form.username.errors %}
                                        <span class="form-error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.email.label }}<br>
                                    {{ form.email(size=64, value=user.email) }}<br>
                                    {% for error in form.email.errors %}
                                        <span class="form-error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.role.label }}<br>
                                    {{ form.role }}
                                </div>
                                <button type="submit" class="button2" name="usereditsubmit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Using ckeditor to style the input textarea -->
        <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
        <script src="./admin.js"></script>
    </body>
</html>