{% extends "admin/base.html" %}

{% block admincontent %}
    <!-- main body -->
    <div class="content">
        <div class="button-group">
            <a href="{{ url_for('admin.addquestion') }}" class="button1">Add Questions</a>
        </div>
        <div>
            <h2 class="pagetitle">Manage Questions</h2>
            <table id="questiontable">
                <thead>
                    <th>Topic</th>
                    <th>Title</th>
                    <th>Added Time</th>
                    <th>Difficulty</th>
                    <th>Author</th>
                    <th colspan="3">Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Python</td>
                        <td>Python list</td>
                        <td>02/02/2018</td>
                        <td>Easy</td>
                        <td>John</td>
                        <td><button type="submit" name="edituser" class="edit" onclick="location.href='./editquestion.html'">edit</button></td>
                        <td><button type="submit" name="deletequestion" class="delete">delete</button></td>
                    </tr>
                    <tr>
                        <td>C++</td>
                        <td>C++ array</td>
                        <td>08/03/2020</td>
                        <td>Hard</td>
                        <td>Mike</td>
                        <td><button type="submit" name="edituser" class="edit" onclick="location.href='./editquestion.html'">edit</button></td>
                        <td><button type="submit" name="deletequestion" class="delete">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jsfiles %}
    <!-- js to delete row and sort table-->
    <script>
        var index, table = document.getElementById('questiontable');
        for(var i =1;i < table.rows.length;i++)
        {   
            table.rows[i].cells[6].onclick = function()
            {
                //'this' refers to the button which is the child of a table row
                index = this.parentElement.rowIndex;
                table.deleteRow(index);
            };
        }

        //sort table
        $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
        })

        function comparer(index) {
            return function(a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
        function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
    </script>
    {{ super() }}
{% endblock %}