.navbar {
    background-color: grey;
}

.navlink {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.quizsets {
    border-collapse: collapse;
    width: 100%;
}

.quizsets th {
    border: 1px solid black;
}

.quizsets td {
    border: 1px solid black;
    text-align: center;
}

.quizset-disable {
    color: silver;
}

.link-disable {
    color: silver;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 5px;
}