{% extends "base.html" %}


{% block content %}
<h1>Add Problem</h1>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }} (Use Markdown Syntax)<br>
            {{ form.body}}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.timeLimit.label }}<br>
            {{ form.timeLimit(size=16) }}<br>
            {% for error in form.timeLimit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.memoryLimit.label }}<br>
            {{ form.memoryLimit(size=16) }}<br>
            {% for error in form.memoryLimit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.testCaseInput.label }}<br>
            {{ form.testCaseInput }}<br>
            {% for error in form.testCaseInput.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.testCaseOutput.label }}<br>
            {{ form.testCaseOutput }}<br>
            {% for error in form.testCaseOutput.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
