{% extends "base.html" %}

{% block cssfiles %}
{% endblock %}

{% block content %}
    <div id=midsection>
        <div id="slideshow">
            <div id="slideshowbox">
                <h3 id="slideshowheader"></h3>
                <p id="slideshowdescription"></p>
            </div>
        </div>
        <div id=centercontent>
            <div>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
                <h1 id=questiontitle>
                    Welcome to Competition Programming Practice
                </h1>
            </div>
            <p class=questiondescriptor>
                Welcome to our website. At yeetCode, we provide you with multiple competition style questions at various difficulties.
                We believe we are the best way to help increase your proficiency with algorithms and get ready for technical interviews.
                <br><br>
                Simply register for a free account and you will have access to all our questions, your marks and various other statistics.
            </p>
        </div>    
    </div>
{% endblock %}

{% block jsfiles %}
    <script src="{{ url_for('static', filename='homepage.js') }}"></script>
{% endblock %}
